<!-- templates/dashboard.html -->
{% extends "layout.html" %} {% block title %}Admin{% endblock %} {% block
content %}
<h2>Bem-vindo ao Dashboard</h2>
<p>Você está logado como: {{ user_email }}</p>
<link href="../static/css/dashboard.css" rel="stylesheet" />
<div>
  <div class="row text-center mt-4">
    <div class="col-sm-12">
      <div class="border border-0 m-2">
        <a
          class="card-presentation"
          href="{{ url_for('attendance') }}"
          style="text-decoration: none"
        >
          <h5>Painel Atendimentos</h5>
        </a>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="border border-0 m-2">
        <a
          class="card-presentation"
          href="{{ url_for('adm_painel_os') }}"
          style="text-decoration: none"
        >
          <h5>Painel OS</h5>
        </a>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="border border-0 m-2">
        <a
          class="card-presentation"
          href="{{url_for('adm_relatorios')}}"
          style="text-decoration: none"
        >
          <h5>Relatórios</h5>
        </a>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="border border-0 m-2">
        <a
          class="card-presentation"
          href="{{url_for('adm_painel_tecnicos')}}"
          style="text-decoration: none"
        >
          <h5>Técnicos</h5>
        </a>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="border border-0 m-2">
        <a
          class="card-presentation"
          href="{{url_for('data_analysis')}}"
          style="text-decoration: none"
        >
          <h5>Análise de Dados</h5>
        </a>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="border border-0 m-2">
        <a
          class="card-presentation"
          href="{{url_for('comissoes')}}"
          style="text-decoration: none"
        >
          <h5>Comissões</h5>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
