<!-- templates/dashboard.html -->
{% extends "layout.html" %} {% block title %}Dashboard{% endblock %} {% block
content %}
<h2>Bem-vindo ao Dashboard</h2>
<p>Você está logado como: {{ user_email }}</p>
<link href="../static/css/dashboard.css" rel="stylesheet" />
<div>
  <div class="row text-center mt-4">
    <div class="col-sm-12">
      <div class="border border-0 m-2">
        <a class="card-presentation" href="{{ url_for('consulta_agenda') }}">
          <h5>Agenda</h5>
        </a>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="border border-0 m-2">
        <a
          class="card-presentation"
          href="{{ url_for('listar_pendentes_tecnico') }}"
        >
          <h5>Pagamento Pendente</h5>
        </a>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="border border-0 m-2">
        <a class="card-presentation" href="{{ url_for('extrato_tecnico') }}">
          <h5>Extrato</h5>
        </a>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="border border-0 m-2">
        <a class="card-presentation" href="{{ url_for('relatorio') }}">
          <h5>Relatório Técnico</h5>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
