<!-- templates/login.html -->
{% extends "layout.html" %} {% block title %}Orçamento{% endblock %} {% block
content %}
<div class="container">
  <div class="card mt-4" style="border: none">
    <div class="card-header" style="border: none; background-color: #f16c69">
      <h1 class="text-center" style="color: white">Sistema de Orçamento</h1>
    </div>
    <div class="card-body">
      <form id="budget-form">
        <div class="mb-3">
          <label for="city" style="font-size: small; font-weight: bold"
            >Cidade do Técnico</label
          >
          <select class="form-select" id="city">
            <option>Selecionar</option>
            <option value="campinas">Campinas</option>
            <option value="goiania">Goiânia</option>
            <option value="sao_paulo">São Paulo</option>
            <option value="salvador">Salvador</option>
          </select>
        </div>

        <div class="mb-3">
          <label for="especie" style="font-size: small; font-weight: bold"
            >Cidade Do Serviço</label
          >
          <select id="serviceCity" class="form-select" name="serviceCity">
            <option value="">Selecionar Cidade</option>
          </select>
        </div>

        <div class="mb-3">
          <label for="service" style="font-size: small; font-weight: bold"
            >Selecione o Serviço</label
          >
          <select class="form-select" id="service">
            <option value="">Selecione...</option>
            <option value="localizacao_vazamento">
              Localização De Vazamento
            </option>
            <option value="localizacao_infiltracao">
              Localização De Infiltração
            </option>
            <option value="rede_de_incendio">Rede de Incêndio</option>
            <option value="cond_horizontal">
              Conta Alta - Cond. Horizontal
            </option>
          </select>
        </div>
        <div class="mb-3" id="additional-fields"></div>

        <div class="mb-3">
          <button
            class="btn btn-success"
            type="button"
            id="calculate-btn"
            style="width: 100%"
          >
            Calcular
          </button>
        </div>
      </form>
      <div
        class="container"
        style="
          text-align: center;
          background-color: #f16b692d;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        "
      >
        <div class="mt-4">
          <h3>Orçamento</h3>
        </div>
        <div class="mt-4">
          <p id="taxa-deslocamento"></p>
          <div class="row" style="display: flex; align-items: center">
            <span style="font-style: italic; font-weight: bold"
              >À vista <span id="result" style="font-weight: normal"></span
            ></span>
          </div>
          <div class="row" style="display: flex; align-items: center">
            <span style="font-style: italic; font-weight: bold"
              >Cartão <span id="result-taxa" style="font-weight: normal"></span
            ></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  const serviceSelect = document.getElementById("service");
  const additionalFields = document.getElementById("additional-fields");
  const calculateBtn = document.getElementById("calculate-btn");
  const result = document.getElementById("result");
  const resultTaxa = document.getElementById("result-taxa");
  const taxaDeslocamento = document.getElementById("taxa-deslocamento");

  // Tabela de preços fixos
  const pricingTable = {
    campinas: {
      localizacao_vazamento: {
        1: 279,
        2: 329,
        3: 379,
        4: 439,
        5: 479,
        6: 539,
        7: 579,
        8: 629,
        9: 679,
        10: 729,
      },
      localizacao_infiltracao: { 1: 400, 2: 500 },
    },
    goiania: {
      localizacao_vazamento: {
        1: 259,
        2: 289,
        3: 299,
        4: 349,
        5: 399,
        6: 499,
        7: 649,
        8: 749,
        9: 849,
        10: 990,
      },
      localizacao_infiltracao: { 1: 299, 2: 599, 3: 799, 4: 999 },
    },
    sao_paulo: {
      localizacao_vazamento: { 1: 400, 2: 500 },
      localizacao_infiltracao: { 1: 450, 2: 550 },
    },
    salvador: {
      localizacao_vazamento: {
        1: 249,
        2: 299,
        3: 349,
        4: 399,
        5: 449,
        6: 499,
        7: 549,
        8: 599,
        9: 649,
        10: 699,
      },
      localizacao_infiltracao: { 1: 350, 2: 450 },
    },
  };

  // Atualizar os campos adicionais com base no serviço selecionado
  serviceSelect.addEventListener("change", () => {
    additionalFields.innerHTML = ""; // Limpar campos anteriores
    const selectedService = serviceSelect.value;

    if (selectedService === "localizacao_vazamento") {
      additionalFields.innerHTML = `
          <label for="bathrooms">Número de banheiros:</label>
          <select class="form-select" id="bathrooms">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
        `;
    } else if (selectedService === "localizacao_infiltracao") {
      additionalFields.innerHTML = `
          <label for="infiltration_points">Número de pontos de infiltração:</label>
          <select class="form-select" id="infiltration_points">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
        `;
    } else if (selectedService === "rede_de_incendio") {
      additionalFields.innerHTML = `
          <label for="local">Local</label>
          <select class="form-select" id="local">
            <option value="1">Concreto</option>
            <option value="2">Grama</option>
            <option value="3">Terra</option>
            <option value="4">Mato</option>
          </select>

          <div class="my-3">
          <label>Metragem</label>
          <input class="form-control" type="number" id="metragem" />
          </div>
        `;
    } else if (selectedService === "cond_horizontal") {
      additionalFields.innerHTML = `
          
          <label for="possui_hidrometro">As casas possuem hidrômetro?</label>
          <select class="form-select" id="possui_hidrometro">
            <option>Selecionar</option>
            <option value="sim">Sim</option>
            <option value="nao">Não</option>
          </select>

          <div class="my-3">
            <label for="possui_grama">Possui grama?</label>
            <select class="form-select" id="possui_grama">
              <option>Selecionar</option>
              <option value="sim">Sim</option>
              <option value="nao">Não</option>
            </select>
          </div>

          <div class="my-3">
          <label>Total de Unidades</label>
          <input class="form-control" type="number" id="metragem" />
          </div>
        `;
    }
  });

  const city = document.getElementById("city");
  const serviceCity = document.getElementById("serviceCity");

  const optionsMap = {
    campinas: [
      { value: 0, text: "Campinas" },
      { value: 100, text: "Jundiaí" },
      { value: 0, text: "Valinhos" },
      { value: 0, text: "Vinhedo" },
      { value: 0, text: "Louveira" },
      { value: 0, text: "Itatiba" },
      { value: 0, text: "Hortolândia" },
      { value: 0, text: "Sumaré" },
    ],
    goiania: [
      { value: 0, text: "Goiânia" },
      { value: 0, text: "Senador Canedo" },
      { value: 0, text: "Trindade" },
    ],
    sao_paulo: [
      { value: 0, text: "São Paulo" },
      { value: 0, text: "Osasco" },
      { value: 0, text: "São Bernardo do Campo" },
      { value: 0, text: "Santo André" },
      { value: 0, text: "Mauá" },
      { value: 0, text: "Diadema" },
      { value: 0, text: "São Caetano do Sul" },
    ],
    salvador: [
      { value: 0, text: "Salvador" },
      { value: 0, text: "Lauro de Freitas" },
      { value: 0, text: "Camaçari" },
      { value: 0, text: "Simões Filho" },
      { value: 0, text: "Dias D'Ávila" },
      { value: 0, text: "Candeias" },
      { value: 0, text: "Madre de Deus" },
    ],
  };

  city.addEventListener("change", function () {
    const selectedValue = city.value;

    // Limpa o segundo select
    serviceCity.innerHTML = "<option value=''>Selecione uma Cidade</option>";

    // Se houver uma opção válida no primeiro select
    if (optionsMap[selectedValue]) {
      // Adiciona as novas opções no segundo select
      optionsMap[selectedValue].forEach((option) => {
        const newOption = document.createElement("option");
        newOption.value = option.value;
        newOption.text = option.text;
        serviceCity.appendChild(newOption);
      });
    }
  });

  // Calcular o orçamento
  calculateBtn.addEventListener("click", () => {
    const city = document.getElementById("city").value;
    const serviceCityValue = Number(
      document.getElementById("serviceCity").value
    );
    const service = serviceSelect.value;

    if (!city || !service) {
      result.textContent = "Por favor, selecione a cidade e o serviço.";
      return;
    }

    let total = 0;

    // Lógica para Localização de Vazamento e Infiltração
    if (
      service === "localizacao_vazamento" ||
      service === "localizacao_infiltracao"
    ) {
      const additionalField =
        service === "localizacao_vazamento"
          ? "bathrooms"
          : "infiltration_points";
      const quantity = parseInt(
        document.getElementById(additionalField)?.value,
        10
      );

      if (!quantity || !pricingTable[city][service][quantity]) {
        result.textContent = "Por favor, selecione uma quantidade válida.";
        return;
      }

      total = pricingTable[city][service][quantity];
    }

    // Lógica para Rede de Incêndio
    if (service === "rede_de_incendio") {
      const localType = document.getElementById("local").value; // Obtem o tipo de local (Concreto, Grama, etc.)
      const metragem = parseFloat(document.getElementById("metragem").value);

      if (!localType || !metragem || metragem <= 0) {
        result.textContent =
          "Por favor, selecione o tipo de local e informe uma metragem válida.";
        return;
      }

      // Define o valor por metro com base no tipo de local
      const pricePerMeter = localType === "1" ? 40 : 70; // 1 = Concreto, outras opções = 70
      total = pricePerMeter * metragem;

      // Aplica o orçamento mínimo
      const minimumValue = localType === "1" ? 600 : 1000; // Concreto = 600, outras opções = 1000
      if (total < minimumValue) {
        total = minimumValue;
      }
    }

    if (service === "cond_horizontal") {
      const possuiHidrometro =
        document.getElementById("possui_hidrometro").value;
      const possuiGrama = document.getElementById("possui_grama").value;
      const unidades = parseInt(document.getElementById("metragem").value, 10);

      if (!unidades || unidades <= 0) {
        result.textContent = "Por favor, informe um número válido de unidades.";
        return;
      }

      const pricing = {
        goiania: {
          hidrante: { valorUnidade: 60, minimo: 1700 },
          semHidrante: { valorUnidade: 150, minimo: 3000 },
          grama: { valorUnidade: 130, minimo: 2500 },
        },
        // Adicione outras cidades se necessário
      };

      const cidadePrecos = pricing[city];

      if (!cidadePrecos) {
        result.textContent = "Preços não definidos para esta cidade.";
        return;
      }

      let valorHidrante = 0;
      let valorGrama = 0;
      let minimo = 0;

      if (possuiHidrometro === "sim") {
        valorHidrante = cidadePrecos.hidrante.valorUnidade * unidades;
        minimo = cidadePrecos.hidrante.minimo;
      } else {
        valorHidrante = cidadePrecos.semHidrante.valorUnidade * unidades;
        minimo = cidadePrecos.semHidrante.minimo;
      }

      if (possuiGrama === "sim") {
        valorGrama = cidadePrecos.grama.valorUnidade * unidades;
        minimo = Math.max(minimo, cidadePrecos.grama.minimo);
      }

      // Escolher o maior valor por unidade
      total = Math.max(valorHidrante, valorGrama);

      // Aplicar o valor mínimo se necessário
      if (total < minimo) {
        total = minimo;
      }
    }

    // Soma o valor da taxa de deslocamento
    total += serviceCityValue;

    // Atualiza os resultados no HTML
    taxaDeslocamento.textContent = `Deslocamento R$ ${serviceCityValue.toFixed(
      2
    )}`;

    const taxa = total * 1.1;
    result.textContent = `R$ ${total.toFixed(2)}`;
    resultTaxa.textContent = `R$ ${taxa.toFixed(2)}`;
  });
</script>

{% endblock %}
