<!-- templates/dashboard.html -->
{% extends "layout.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="text-center my-4">
    <h1>Usuários</h1>
</div>
{% if users %}
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Função</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.role }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>Nenhum usuário encontrado.</p>
{% endif %}
{% endblock %}