<!-- templates/dashboard.html -->
{% extends "layout.html" %} {% block title %}Dashboard{% endblock %} {% block
content %}
<div class="my-4" align="center">
  <h1>Agenda</h1>
  <div>
    <h5>{{ date }}</h5>
  </div>
</div>
{% if ordens_servico %} {% for os_id, os in ordens_servico.items() %}
<div class="card mb-3">
  <div class="card-body" id="os-card-{{ os_id }}">
    <div>
      <span class="badge bg-danger mb-2">
        OS Nº {{ os.get('numero_os', 'N/A') }}
      </span>
      <h5 class="card-title mb-0">{{ os.city }}</h5>
    </div>
    <div class="my-3" align="end" style="font-weight: bold">
      <div>
        <span
          >Início {{ os.start_datetime | datetimeformathour('%H:%M') }}
          horas</span
        >
      </div>
      <div>
        <span
          >Término {{ os.end_datetime | datetimeformathour('%H:%M') }}
          horas</span
        >
      </div>
    </div>
    <ul class="list-group list-group-flush">
      <li
        class="list-group-item d-flex justify-content-between align-items-center flex-wrap gap-2"
      >
        <span>
          Nome:
          <span id="nome-os-{{ os_id }}"
            >{{ os.name if os.name else 'Não informado' }}</span
          >
        </span>
        <button
          type="button"
          class="btn btn-sm btn-outline-primary"
          data-toggle="modal"
          data-target="#editarNomeModal"
          data-os-id="{{ os_id }}"
          data-city="{{ os.city }}"
          data-name="{{ os.name|default('', true) }}"
          onclick="abrirModalEditarNome(this)"
        >
          Editar Nome
        </button>
      </li>

      <li
        class="list-group-item d-flex justify-content-between align-items-center flex-wrap gap-2"
      >
        <span>
          CPF/CNPJ:
          <span id="cpfcnpj-os-{{ os_id }}"
            >{{ os.cpfcnpj if os.cpfcnpj else 'Não informado' }}</span
          >
        </span>
        <button
          type="button"
          class="btn btn-sm btn-outline-primary"
          data-toggle="modal"
          data-target="#editarCpfCnpjModal"
          data-os-id="{{ os_id }}"
          data-city="{{ os.city }}"
          data-cpfcnpj="{{ os.cpfcnpj|default('', true) }}"
          onclick="abrirModalEditarCpfCnpj(this)"
        >
          Editar CPF/CNPJ
        </button>
      </li>
      <li class="list-group-item">Telefone: {{ os.phone }}</li>
      <li class="list-group-item">Serviço: {{ os.service }}</li>
    </ul>
    <div class="p-4 my-4" style="background-color: rgb(219, 219, 219)">
      <label>Endereço</label>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Bairro/Setor: {{ os.address.bairro }}</li>
        <li class="list-group-item">Rua: {{ os.address.rua }}</li>
        <li class="list-group-item">Nº: {{ os.address.numero }}</li>
        <li class="list-group-item">
          Complemento: {{ os.address.complemento }}
        </li>
        <li class="list-group-item">
          Localização:
          <a href="{{ os.address.localizacao }}"
            >{{ os.address.localizacao }}</a
          >
        </li>
      </ul>
    </div>
    <div align="end">
      <h5>Valor R$ <span id="valor-os-{{ os_id }}">{{ os.newprice }}</span></h5>
    </div>
  </div>
  <div class="card-footer">
    <div class="row mb-4">
      <div class="col"></div>
      <div class="col" align="end">
        <button
          class="btn btn-sm btn-outline-primary mt-2"
          data-toggle="modal"
          data-target="#editarValorModal"
          onclick="abrirModalEditarValor('{{ os_id }}', '{{ os.city }}', '{{ os.newprice }}')"
        >
          Editar Valor
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        {% if os.status_paymment == "recebido" or os.status_paymment ==
        "pendente"%}
        <span class="badge text-bg-secondary fs-6"
          >Status {{ os.status_paymment }}</span
        >
        {% else %}
        <button
          type="button"
          id="cancelaros"
          class="btn btn-danger float-start"
          data-toggle="modal"
          data-target="#deletaOsModal"
          data-city="{{ os.city }}"
          data-idrecord="{{ os_id }}"
        >
          Cancelar OS
        </button>
        {% endif %}
      </div>
      <div class="col">
        {% if os.status_paymment == "recebido" or os.status_paymment ==
        "pendente"%} {% else %}
        <button
          type="button"
          id="reagendar"
          class="btn btn-secondary float-end"
          data-toggle="modal"
          data-target="#osModal"
          data-city="{{ os.city }}"
          data-idrecord="{{ os_id }}"
        >
          Reagendar
        </button>

        {% endif %}
      </div>
    </div>
    <div class="mt-3" align="center">
      <button
        type="button"
        class="btn btn-primary"
        onclick="copyCardContent('{{ os_id }}')"
      >
        Copiar Informações
      </button>
    </div>
  </div>
</div>
{% endfor %}

<!-- Modal para gerar OS -->
<div
  class="modal fade"
  id="osModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="osModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="osModalLabel">Reagendar Serviço</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="osForm" method="post" action="/reagendar_os">
          <input
            type="date"
            value="{{ date }}"
            id="osOldDate"
            name="osOldDate"
            hidden
          />
          <input id="osIdRecord" name="idRecord" hidden />
          <input
            type="text"
            class="form-control"
            id="osCity"
            name="city"
            hidden
          />
          <div class="form-group">
            <label for="osDate">Data</label>
            <input
              type="date"
              class="form-control"
              id="osDate"
              name="dateos"
              required
            />
          </div>
          <div class="form-group">
            <label for="osStartTime">Hora de Início</label>
            <input
              type="time"
              class="form-control"
              id="osStartTime"
              name="start_time"
              required
            />
          </div>
          <div class="form-group">
            <label for="osEndTime">Hora de Término</label>
            <input
              type="time"
              class="form-control"
              id="osEndTime"
              name="end_time"
              required
            />
          </div>

          <div class="my-4">
            <select
              class="form-select"
              aria-label="Default select example"
              id="osTechnician"
              name="tecnico"
            >
              <option selected>Selecionar Técnico</option>
              {% for tecnico_id, tecnico in tecnicos.items() %}
              <option value="{{ tecnico_id }}">{{ tecnico.name }}</option>
              {% endfor %}
            </select>
          </div>
          <input type="text" value="{{date}}" name="date" hidden />

          <div align="center">
            <button
              type="submit"
              id="confirmaros"
              class="btn btn-primary"
              style="width: 80%"
            >
              Confirmar OS
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="deletaOsModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="osModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="osModalLabel">Reagendar Serviço</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="osForm" method="post" action="/deletar_os">
          <input id="deletaOsIdRecord" name="idRecord" hidden />
          <input
            type="text"
            class="form-control"
            id="deletaOsCity"
            name="city"
            hidden
          />

          <div class="form-group">
            <label for="deletaOsMotivo">Motivo</label>
            <textarea
              type="text"
              class="form-control"
              id="deletaOsMotivo"
              name="deleteOsMotivo"
              required
            ></textarea>
          </div>
          <input type="text" value="{{date}}" name="deletaOsdate" hidden />

          <div align="center">
            <button
              type="submit"
              id="deletaos"
              class="btn btn-danger"
              style="width: 80%"
            >
              Apagar OS
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="editarValorModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="editarValorModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Editar Valor da OS</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <input type="hidden" id="editOsId" />
        <input type="hidden" id="editOsCity" />
        <input type="text" value="{{date}}" id="editOsDate" hidden />

        <div class="form-group">
          <label>Novo Valor</label>
          <input
            type="tel"
            class="form-control"
            id="editOsValor"
            placeholder="0,00"
          />
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cancelar
        </button>
        <button
          type="button"
          class="btn btn-primary"
          onclick="salvarNovoValorOs()"
        >
          Salvar Valor
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="editarNomeModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="editarNomeModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Editar / Adicionar Nome</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <input type="hidden" id="editNomeOsId" />
        <input type="hidden" id="editNomeOsCity" />
        <input type="text" value="{{ date }}" id="editNomeOsDate" hidden />

        <div class="form-group">
          <label for="editOsNome">Nome</label>
          <input
            type="text"
            class="form-control"
            id="editOsNome"
            placeholder="Digite o nome"
            oninput="formatarNome(this)"
          />
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cancelar
        </button>
        <button
          type="button"
          class="btn btn-primary"
          onclick="salvarNovoNomeOs()"
        >
          Salvar Nome
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="editarCpfCnpjModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="editarCpfCnpjModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Editar / Adicionar CPF/CNPJ</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <input type="hidden" id="editCpfCnpjOsId" />
        <input type="hidden" id="editCpfCnpjOsCity" />
        <input type="text" value="{{ date }}" id="editCpfCnpjOsDate" hidden />

        <div class="form-group">
          <label for="editOsCpfCnpj">CPF/CNPJ</label>
          <input
            type="text"
            class="form-control"
            id="editOsCpfCnpj"
            oninput="formatarCpfCnpj(this)"
            placeholder="Digite o CPF ou CNPJ"
          />
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cancelar
        </button>
        <button
          type="button"
          class="btn btn-primary"
          onclick="salvarNovoCpfCnpjOs()"
        >
          Salvar CPF/CNPJ
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Overlay para bloquear a tela de fundo -->
<div class="overlay" id="overlay"></div>

<!-- Pop-up -->
<div class="popup" id="popup" align="center">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div>
    <span>Salvando...</span>
  </div>
</div>

{% else %}
<p class="no-records">Nenhum serviço agendado para essa data.</p>
{% endif %}

<script>
  function mostrarPopup() {
    var overlay = document.getElementById("overlay");
    var popup = document.getElementById("popup");

    overlay.style.display = "block";
    popup.style.display = "block";

    // Bloqueia a interação com a tela de fundo
    overlay.addEventListener("click", function (e) {
      e.preventDefault();
      e.stopPropagation();
    });
  }
</script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
  function copyCardContent(os_id) {
    // Selecionar o elemento do card com o ID correspondente
    var card = document.getElementById("os-card-" + os_id);

    // Verificar se o card existe
    if (card) {
      // Capturar o texto do card
      var cardText = card.innerText;

      // Usar o clipboard API para copiar o texto para a área de transferência
      navigator.clipboard
        .writeText(cardText)
        .then(function () {
          alert("Informações copiadas com sucesso!");
        })
        .catch(function (error) {
          console.error("Erro ao copiar as informações: ", error);
        });
    } else {
      alert("Card não encontrado!");
    }
  }
</script>

<!-- Script -->
<script>
  // Preencher os dados do modal quando o botão é clicado
  $("#deletaOsModal").on("show.bs.modal", function (event) {
    var button = $(event.relatedTarget); // Botão que acionou o modal
    var city = button.data("city");
    var idRecord = button.data("idrecord");

    var modal = $(this);
    modal.find("#deletaOsCity").val(city);
    modal.find("#deletaOsIdRecord").val(idRecord);
  });
</script>

<script>
  // Preencher os dados do modal quando o botão é clicado
  $("#osModal").on("show.bs.modal", function (event) {
    var button = $(event.relatedTarget); // Botão que acionou o modal
    var city = button.data("city");
    var idRecord = button.data("idrecord");

    var modal = $(this);
    modal.find("#osCity").val(city);
    modal.find("#osIdRecord").val(idRecord);
  });
</script>

<script>
  function handleSwitchChange(
    date1,
    startTime1,
    endTime1,
    technician1,
    city1,
    oldDate1,
  ) {
    const oldDate = oldDate1;
    const date = date1;
    const startTime = startTime1;
    const endTime = endTime1;
    const technician = technician1;
    const city = city1;

    const data = {
      date: date,
      startTime: startTime,
      endTime: endTime,
      technician: technician,
      city: city,
      oldDate: oldDate,
    };

    fetch("/verifica_agenda", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify(data),
    })
      .then((response) => {
        if (response.ok) {
          document.getElementById("confirmaros").disabled = false;
          return response.json();
        } else {
          // Se a resposta não for 200, trate como erro
          return response.json().then((errorData) => {
            throw new Error(errorData.message);
          });
        }
      })
      .then((responseData) => {
        console.log(responseData);
        // Se a resposta foi bem-sucedida (status 200), não faça nada adicional
      })
      .catch((error) => {
        console.error("Erro ao enviar os dados:", error);
        // Exibir um pop-up com a mensagem de erro
        document.getElementById("confirmaros").disabled = true;
        alert(error.message);
      });
  }

  function onFieldsChange() {
    const oldDate = document.getElementById("osOldDate").value;
    const date = document.getElementById("osDate").value;
    const startTime = document.getElementById("osStartTime").value;
    const endTime = document.getElementById("osEndTime").value;
    const technician = document.getElementById("osTechnician").value;
    const city = document.getElementById("osCity").value;

    handleSwitchChange(date, startTime, endTime, technician, city, oldDate);
  }

  document
    .getElementById("osTechnician")
    .addEventListener("change", onFieldsChange);
</script>

<script src="https://cdn.jsdelivr.net/npm/luxon@3/build/global/luxon.min.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", (event) => {
    // Usando Luxon para lidar com o fuso horário
    const DateTime = luxon.DateTime;

    // Obtenha a data atual no fuso horário de São Paulo
    const nowInSaoPaulo = DateTime.now().setZone("America/Sao_Paulo");

    // Formate a data para 'YYYY-MM-DD'
    const formattedDate = nowInSaoPaulo.toFormat("yyyy-MM-dd");

    // Obtenha o elemento de entrada da data
    const dateInput = document.getElementById("osDate");

    // Defina o valor do campo de data para a data atual em São Paulo
    dateInput.value = formattedDate;
  });
</script>
<script src="../static/js/formatarValor.js"></script>
<script>
  function abrirModalEditarValor(osId, city, valorAtual) {
    document.getElementById("editOsId").value = osId;
    document.getElementById("editOsCity").value = city;

    const inputValor = document.getElementById("editOsValor");

    // Remove tudo que não é número
    inputValor.value = String(valorAtual).replace(/\D/g, "");

    // 🔥 Dispara o input para aplicar a máscara existente
    inputValor.dispatchEvent(new Event("input"));
  }
</script>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    configurarFormatacaoValor("editOsValor");
  });
</script>

<script>
  function salvarNovoValorOs() {
    const osId = document.getElementById("editOsId").value;
    const city = document.getElementById("editOsCity").value;
    const valor = document.getElementById("editOsValor").value;
    const date = document.getElementById("editOsDate").value;

    if (!valor) {
      alert("Informe um valor válido.");
      return;
    }

    mostrarPopup();
    fetch("/atualizar_valor_os", {
      method: "POST",
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify({
        os_id: osId,
        city: city,
        newprice: valor,
        date: date,
      }),
    })
      .then((res) => res.json())
      .then((data) => {
        if (data.success) {
          document.getElementById(`valor-os-${osId}`).innerText = valor;
          window.location.reload();
          $("#editarValorModal").modal("hide");
        } else {
          alert(data.message || "Erro ao atualizar valor.");
        }
      })
      .catch((err) => {
        console.error(err);
        alert("Erro de comunicação com o servidor.");
      });
  }
</script>
<script>
  function abrirModalEditarNome(button) {
    const osId = button.getAttribute("data-os-id") || "";
    const city = button.getAttribute("data-city") || "";
    const nomeAtual = button.getAttribute("data-name") || "";

    document.getElementById("editNomeOsId").value = osId;
    document.getElementById("editNomeOsCity").value = city;
    document.getElementById("editOsNome").value = nomeAtual;
  }

  function salvarNovoNomeOs() {
    const osId = document.getElementById("editNomeOsId").value;
    const city = document.getElementById("editNomeOsCity").value;
    const name = document.getElementById("editOsNome").value.trim();
    const date = document.getElementById("editNomeOsDate").value;

    mostrarPopup();

    fetch("/atualizar_nome_os", {
      method: "POST",
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify({
        os_id: osId,
        city: city,
        name: name,
        date: date,
      }),
    })
      .then((res) => res.json())
      .then((data) => {
        document.getElementById("overlay").style.display = "none";
        document.getElementById("popup").style.display = "none";

        if (data.success) {
          document.getElementById(`nome-os-${osId}`).innerText =
            data.name || "Não informado";
          $("#editarNomeModal").modal("hide");
          window.location.reload();
        } else {
          alert(data.message || "Erro ao atualizar nome.");
        }
      })
      .catch((err) => {
        document.getElementById("overlay").style.display = "none";
        document.getElementById("popup").style.display = "none";
        console.error(err);
        alert("Erro de comunicação com o servidor.");
      });
  }
</script>

<script>
  function abrirModalEditarCpfCnpj(button) {
    const osId = button.getAttribute("data-os-id") || "";
    const city = button.getAttribute("data-city") || "";
    const cpfcnpjAtual = button.getAttribute("data-cpfcnpj") || "";

    document.getElementById("editCpfCnpjOsId").value = osId;
    document.getElementById("editCpfCnpjOsCity").value = city;
    document.getElementById("editOsCpfCnpj").value = cpfcnpjAtual;
  }

  function salvarNovoCpfCnpjOs() {
    const osId = document.getElementById("editCpfCnpjOsId").value;
    const city = document.getElementById("editCpfCnpjOsCity").value;
    const cpfcnpj = document.getElementById("editOsCpfCnpj").value.trim();
    const date = document.getElementById("editCpfCnpjOsDate").value;
    console.log({ osId, city, cpfcnpj, date });

    mostrarPopup();

    fetch("/atualizar_cpfcnpj_os", {
      method: "POST",
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify({
        os_id: osId,
        city: city,
        cpfcnpj: cpfcnpj,
        date: date,
      }),
    })
      .then((res) => res.json())
      .then((data) => {
        document.getElementById("overlay").style.display = "none";
        document.getElementById("popup").style.display = "none";

        if (data.success) {
          document.getElementById(`cpfcnpj-os-${osId}`).innerText =
            data.cpfcnpj || "Não informado";
          $("#editarCpfCnpjModal").modal("hide");
          window.location.reload();
        } else {
          alert(data.message || "Erro ao atualizar CPF/CNPJ.");
        }
      })
      .catch((err) => {
        document.getElementById("overlay").style.display = "none";
        document.getElementById("popup").style.display = "none";
        console.error(err);
        alert("Erro de comunicação com o servidor.");
      });
  }
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
<script>
  function formatarCpfCnpj(input) {
    let valor = input.value.replace(/\D/g, "");

    if (valor.length <= 11) {
      valor = valor.replace(/^(\d{3})(\d)/, "$1.$2");
      valor = valor.replace(/^(\d{3})\.(\d{3})(\d)/, "$1.$2.$3");
      valor = valor.replace(/\.(\d{3})(\d{1,2})$/, ".$1-$2");
    } else {
      valor = valor.slice(0, 14); // limita ao tamanho padrão do CNPJ
      valor = valor.replace(/^(\d{2})(\d)/, "$1.$2");
      valor = valor.replace(/^(\d{2})\.(\d{3})(\d)/, "$1.$2.$3");
      valor = valor.replace(/\.(\d{3})(\d)/, ".$1/$2");
      valor = valor.replace(/(\d{4})(\d{1,2})$/, "$1-$2");
    }

    input.value = valor;
  }

  function formatarNome(input) {
    let valor = input.value.toLowerCase();

    const excecoes = ["da", "de", "do", "dos", "das", "e"];

    valor = valor
      .split(" ")
      .map((palavra, index) => {
        if (!palavra) return "";

        // Mantém exceções em minúsculo (exceto se for a primeira palavra)
        if (excecoes.includes(palavra) && index !== 0) {
          return palavra;
        }

        return palavra.charAt(0).toUpperCase() + palavra.slice(1);
      })
      .join(" ");

    input.value = valor;
  }
</script>

{% endblock %}
